<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaokompassauth</string>
		<string>kakaolink</string>
		<string>naversearchapp</string>
		<string>naversearchthirdlogin</string>
		<string>ispmobile</string>
		<string>payco</string>
		<string>kakaotalk</string>
		<string>shinsegaeeasypayment</string>
		<string>lpayapp</string>
		<string>smilepayapp</string>
		<string>lottesmartpay</string>
		<string>lotteappcard</string>
		<string>Lmslpay</string>
		<string>hdcardappcardansimclick</string>
		<string>smhyundaiansimclick</string>
		<string>shinhan-sr-ansimclick</string>
		<string>shinhan-appcard</string>
		<string>shinhan-sr-ansimclick-naverpay</string>
		<string>shinhan-sr-ansimclick-payco</string>
		<string>smshinhanansimclick</string>
		<string>cloudpay</string>
		<string>hanawalletmembers</string>
		<string>hanamopmoasign</string>
		<string>nhallonepayansimclick</string>
		<string>nhappcardansimclick</string>
		<string>nonghyupcardansimclick</string>
		<string>citimobileapp</string>
		<string>citispay</string>
		<string>citicardappkr</string>
		<string>wooripay</string>
		<string>com.wooricard.wcard</string>
		<string>NewSmartPib</string>
		<string>mpocket.online.ansimclick</string>
		<string>mpocket.ansimclick.cert</string>
		<string>scardcertiapp</string>
		<string>vguardstart</string>
		<string>vguardcheck</string>
		<string>vguardend</string>
		<string>kb-acp</string>
		<string>kb-event</string>
		<string>kb-screen</string>
		<string>kbbank</string>
		<string>liivbank</string>
		<string>newliiv</string>
		<string>kbbank</string>
		<string>kftc-bankpay</string>
		<string>nhb-bankpay</string>
		<string>mg-bankpay</string>
		<string>kn-bankpay</string>
		<string>lguthepay-xpay</string>
		<string>SmartBank2WB</string>
		<string>lguthepay</string>
		<string>tauthlink</string>
		<string>upluscorporation</string>
		<string>ktauthexternalcall</string>
		<string>v3mobileplusweb</string>
		<string>callonlinepay</string>
		<string>supertoss</string>
		<string>naversearchthirdlogin</string>
		<string>samsungpay</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict/>
		<dict/>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
